body {
    font-family: sans-serif;
}

.center {
    text-align: center;
}

input[type=text] {
    padding: 4px 10px;
    width: 300px;
}

td {
    padding: 10px;
}

#query {
    border-color: #cccccc;
    border-radius: 10px;
    border-style: solid;
    display: block;
    font-size: 16px;
    height: 24px;
    margin: 20px auto;
    padding: 4px 10px;
    width: 300px;
}

.btn-search {
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    padding: 10px 15px;
}

#nav {
    margin-bottom: 20px;
    margin-top: 20px;
}

#nav a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.adv-search {
    color: white;
    background-color: #4b93f9;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}
